name: tinytuner
description: "A Tiny Tuner project."
version: 0.0.2

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  permission_handler: ^11.4.0
  record: ^6.1.2
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
